@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}
